@font-face {
    font-family: font_R;
    src: url(red-hat-display.ttf);
  }
  
  @font-face {
    font-family: font_M;
    src: url(red-hat-display-medium.ttf);
  }
  
  @font-face {
    font-family: font_B;
    src: url(red-hat-display-bold.ttf);
  }
  
  @font-face {
    font-family: font_BL;
    src: url(red-hat-display-black.ttf);
  }
  
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    // color: #303030;
    // color: #555555;
  
    // user-select: none;
    // /* supported by Chrome and Opera */
    // -webkit-user-select: none;
    // /* Safari */
    // -khtml-user-select: none;
    // /* Konqueror HTML */
    // -moz-user-select: none;
    // /* Firefox */
    // -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-family: font_R;
    outline-width: 0;
    outline-style: none;
    border: 0px;
  }
  
  html,
  body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #161b1f;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  
  $BG1: #161b1f;
  $BG2: #232a30;
  $BG3: #c5e4ff8a;
  $BG4: #c4d2df;
  $BG5: #3c7bb3;
  $BG6: #ffb01c;
  $BG7: #c48818;
  
  $text1: white;
  $text2: #c2d7e9;

  .document_scroll {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .p_banner {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .p_banner_content {
    // border: 1px solid pink;
    width: 1344px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p_banner_div {
    // border: 1px solid orange;
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p_banner_picture {
    // border: 1px solid red;
    width: 500px;
    height: 500px;
    background: $BG4;
    border-radius: 100%;
  }
  .p_banner_text,
  .p_banner_text_main {
    font-family: font_BL;
    font-size: 50px;
  }
  .p_banner_text {
    width: fit-content;
    height: fit-content;
    // border: 1px solid red;
    color: white;
  }
  .p_banner_text_main {
    color: $BG6;
  }
  .p_banner_text_sub {
    font-size: 16px;
    font-family: font_R;
  }
  .b_button_main {
    background: $BG6;
    transition: 0.3s;
    color: white;
    font-size: 16px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 100px;
    &:hover {
      transition: 0.3s;
      background-color: $BG7;
    }
  }
  .b_button_main a {
    color: white;
    // border: 1px solid red;
    padding: 5px;
    text-decoration: none;
  }
  .b_button_main svg {
    height: 16px;
  }
  .p_head, .p_head_content {
    // border: 1px solid red;
    background: $BG1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
  }
  .p_head_content {
    justify-content: flex-start;
    width: 1344px;
    color: white;
  }
  .textHeight {
    height: 1000px;
    width: 100%;
    border: 1px solid yellow;
  }
  .p_head_nav svg {
    height: 16px;
  }
  .p_head_nav {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 35px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: $BG6;
      transition: 0.3s;
    }
  }
  .b_content {
    border: 1px solid red;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b_content_main {
    width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    border: 1px solid red;
  }
  .b_content_side {
    height: fit-content;
    width: 300px;
    position: -webkit-sticky;
    position: fixed;
    border: 1px solid pink;
  }
  .b_side_head {
    height: 300px;
    width: 100%;
  }
